@import "tailwindcss";

@layer base {
  body {
    @apply bg-[#0a0a0a] text-gray-50;
    overflow-x: hidden;
  }
}

@theme {
  --color-background: #0a0a0a;
  --color-surface: #111111;
  --color-primary: #2563eb;
  --color-primary-hover: #1d4ed8;
  --font-sans: "Inter", "sans-serif";
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #0a0a0a;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Lenis Recommended CSS */
html.lenis, html.lenis body {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}
.lenis.lenis-smooth iframe {
  pointer-events: none;
}
